ion-grid {
    position: relative;
    top:50%;
    transform: translate(0,-50%);
}

ion-avatar {
    width: 10.625rem; //170px
    height: 10.625rem;   //170px 
}

ion-list {
    width: 300px;
    margin: auto
}

.line-img {
    width:11.25rem;
    margin:auto
}

.select-popover{
    display: none;
}

.custom-select {
    border: 1px solid #393A3A;
    border-radius: 1.75rem;
    ion-select {
        margin-left: 50%;
        transform: translate(-50%,0); 
    }
    ion-icon {
        border:1px solid  #393A3A;
        border-radius: 50%;
    }
    ion-select::part(icon) {
        display: none;
    }
    ion-select::part(placeholder) {
        color:  #393A3A; 
        opacity: 1;
        text-align: center;
    }
}

/* Custom Select dropdown*/
.custom-select-dropdown {
    padding: 0;
    position: relative;
    top:-0.375rem;
    border-left: 1px solid #FF9F2F;
    border-right: 1px solid #FF9F2F;
    border-bottom: 1px solid #FF9F2F;
    border-radius: 0 0 0.9375rem 0.9375rem;
    ion-item.selection {
        --background: #FF642F;
        color: #FFFFFF
    }
}

p {
    color: #393A3A;;
    font-size: 0.75rem;
}

h2 {
    font-size: 1.1875rem; 
}