<ion-content mode="md">
  <form (ngSubmit)="login(form)" #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h2>Login <span style="color: #FF642F">Account</span></h2>
        </ion-col>
        <ion-col size="12">
          <ion-img class="line-img" src="assets/location/line.svg"></ion-img>
        </ion-col>
        <ion-col size="12">
            <ion-label>Enter <span style="color: #FF642F">User Id</span></ion-label>
            <ion-list>
              <ion-item  lines="none" class="custom-select">
                <ion-img src="assets/login/mail_icon.svg" slot="start"></ion-img>
                <ion-input [(ngModel)]="model.userId"  name="userId" placeholder="userid" maxlength="30"></ion-input>
              </ion-item>
            </ion-list>
        </ion-col>
        <ion-col size="12">
          <ion-label>Enter <span style="color: #FF642F">Password</span></ion-label>
          <ion-list>
            <ion-item  lines="none" class="custom-select">
              <ion-img src="assets/login/password.svg" width="50px" slot="start"></ion-img>
              <ion-input [(ngModel)]="model.password" name="password" type="password" placeholder="password" maxlength="30"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
            <ion-radio-group>
              <ion-radio  labelPlacement="end">
                <ion-label>Remember me</ion-label>
              </ion-radio>
            </ion-radio-group>    
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-label style="color: #FF642F">Forgot password?</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-button type="submit" expand="full"> login </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

